*.egg-info
venv/
image-survey.yaml
*.sqlite
*.sqlite-journal
__pycache__
.coverage
# Selecting poetry env creates this file, but the path is setup-dependent so it can't be shared
.vscode/settings.json
